html,
body {
  height: 99%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-container {
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 260px;
  height: 250px;
  background-color: rgb(170, 161, 178);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.img {
  border-radius: 5px;
  height: 100px;
  max-width: 200px;
}

.nav-block {
  min-width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border: black solid 2px;
  font-size: 30px;
}

.nav-block__span {
  height: 90%;
  border-radius: 4px;
  cursor: pointer;
}