html,
body {
  height: 99%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 750px;
}

.carousel {
  margin: 0 auto;
  position: relative;
}

.carousel-window {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.carousel-slides {
  height: 100%;
  width: 100%;
  display: flex;
  transition: transform 0.5s;
}

.carousel-item img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  color: #fff;
  opacity: 0.7;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
}

.carousel-prev:hover,
.carousel-next:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}