html {
  height: 100%;
}

body {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  margin: auto;
}

.square {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.button {
  height: 50px;
  width: 200px;
  border: black solid;
  border-width: 1px;
  background-color: rgb(109, 212, 90);
  border-radius: 5px;
  cursor: pointer;
}