html,
body {
  height: 99%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.figure-container {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform-style: flat;
  perspective: 700px;
}

.circle {
  width: 150px;
  height: 150px;
  background:
    linear-gradient(0deg, #f0f 50%, transparent 50%),
    linear-gradient(120deg, #ff0 50%, transparent 50%),
    linear-gradient(-120deg, #0ff 50%, transparent 50%);
  background-blend-mode: multiply;
  border-radius: 50%;
}

.rectangle {
  width: 200px;
  height: 150px;
  background-color: rgb(4, 150, 4);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 150px solid rgb(17, 0, 255);
}

.square {
  width: 150px;
  height: 150px;
  margin: 40px;
  background-color: rgb(255, 4, 0);
}

.buttons-panel {
  height: 20%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  width: 150px;
  height: 50px;
}

.pulse {
  animation: animate-pulse 1s infinite;
}

.rotate {
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.move {
  animation: moving 2s infinite alternate;
  transition: all 2s;
}

.transform {
  animation: flipper 5s infinite;
}

@keyframes animate-pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(0.95, 0.95, 0.95);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes moving {
  50% {
    transform: translate3d(0, 100%, 0);
  }

  100% {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes flipper {
  0% {
    transform: rotateX(0deg);
  }

  25% {
    transform: rotateX(30deg);
  }

  50% {
    transform: rotateX(0deg);
  }

  75% {
    transform: rotateX(-30deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}