html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 10px;
  border-radius: 15px;
  border: black solid 2px;
}

.form__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  outline: none;
  border: none;
  border-radius: 3px;
  width: 80%;
  height: 42px;
  padding-left: 15px;
  margin: 5px 0 10px 0;
  border: black solid 2px;
}

.form__button {
  cursor: pointer;
  border: black solid 2px;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  font-weight: 500;
}