html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: inline-block;
  position: relative;
  margin: 30px;
  padding: 10px;
}

.box__cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 220px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #000000;
  background-color: rgb(109, 212, 90);
  transform: rotate(0deg);
  transform-origin: -30px 30px;
  transition: transform 1s;
}

.box__cover--opened {
  transform: rotate(-100deg);
}

.box__body {
  width: 200px;
  height: 190px;
  margin: 0 auto;
  border: 1px solid #000000;
  background-color: rgb(109, 212, 90);
}

@keyframes blink {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }
}

.button {
  height: 50px;
  width: 200px;
  border: black solid;
  border-width: 1px;
  background-color: rgb(109, 212, 90);
  border-radius: 5px;
  cursor: pointer;
}